! cursor
Xcursor.theme: ComixCursorsURxvt.transparent: true
Xcursor.size:16
! Xcursor.size:48

! background-transparent
URxvt.transparent:true
URxvt.shading:20

! Included this so you know how to make your foreground not match the color of your background
URxvt.foreground: #eeeeee-Black
