[Desktop Entry]
Version=1.0
Type=Application
Name=Lock Screen
Comment=
Exec=xflock4
Icon=nm-vpn-standalone-lock
Path=
Terminal=false
StartupNotify=false
