[Desktop Entry]
Name=Macromedia Flash 8
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/bandithijo/.wine/dosdevices/c:/users/bandithijo/Start\\ Menu/Programs/Macromedia/Macromedia\\ Flash\\ 8.lnk
Type=Application
StartupNotify=true
Icon=7906_ARPPRODUCTICONFL8.0
StartupWMClass=flash.exe
