on_mount_cmd=
mount_command=mount %m
umount_command=umount %m
excluded_filesystems=
icon=/home/bandithijo/.icons/buuf-3.22a/128x128/Zimages/harddrive-eject.png
show_message_dialog=false
include_networked_filesystems=false
trim_devicenames=true
td_count=14
exclude_selected_filesystems=false
exclude_devicenames_in_menu=false
eject_cddrives=false

