[Desktop Entry]
Name=Chromium
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
#Exec=chromium --password-store=gnome %U
Exec=chromium %U
Terminal=false
Icon=chromium
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
