[Desktop Entry]
Name=Flowblade
X-GNOME-FullName=Flowblade Movie Editor
Comment=Edit media to create movies
#Exec=env GTK_THEME=Adwaita flowblade %f
Exec=flowblade %f
Terminal=false
Type=Application
Icon=flowblade
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;
MimeType=application/vnd.flowblade-project;
X-Ubuntu-Gettext-Domain=Flowblade
