[Desktop Entry]
Name=irssi
Comment=Chat with other people online
Keywords=IM;Chat;
Exec=termite -e irssi
#Exec=urxvt -e screen irssi
Icon=hexchat
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;IRCClient;
NoDisplay=false
