[Desktop Entry]
Type=Application
Name=Master PDF Editor
Comment=Edit your PDF and XPS files
Exec=/opt/master-pdf-editor-4/masterpdfeditor4 %f
Icon=masterpdfeditor4.png
Categories=Office;Publishing;
MimeType=application/pdf
