[Desktop Entry]
Name=ncmpcpp
Comment=Almost exact clone of ncmpc with some new features
#Exec=termite -e ncmpcpp
Exec=mpd; urxvt -e ncmpcpp
#Exec=env GTK_THEME=Adwaita urxvt -e ncmpcpp
Terminal=false
Type=Application
Encoding=UTF-8
Icon=music
Categories=Audio;
NoDisplay=false
