[Desktop Entry]
Name=ncpamixer
Comment=Ncurses mixer for PulseAudio inspired by pavucontrol
#Exec=termite -e ncpamixer
Exec=urxvt -e ncpamixer
#Exec=env GTK_THEME=Adwaita urxvt -e ncpamixer
#Exec=env GTK_THEME=Adwaita xfce4-terminal -e ncpamixer
Terminal=false
Type=Application
Encoding=UTF-8
Icon=multimedia-volume-control
Categories=AudioVideo;Audio;Mixer;GTK;
NoDisplay=false
