[Desktop Entry]
Name=neomutt
Comment=Command line mail reader, fork of Mutt with added features.
Exec=termite -e neomutt
Icon=evolution
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Email;
