[Desktop Entry]
Name=Neovim
Comment=Edit text files
#TryExec=nvim
#Exec=nvim %F
#Exec=gnome-terminal -x nvim %F
#Exec=env GTK_THEME=Adwaita xfce4-terminal -x nvim %F
#Exec=xfce4-terminal -x nvim %F
#Exec=termite -e 'nvim %F' %f
Exec=urxvt -e nvim %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
