# KDE Config File
[Desktop Entry]
Name=Kdenlive
Comment=Nonlinear video editor by KDE
Type=Application
Exec=kdenlive %U
Icon=kdenlive
X-DocPath=kdenlive/index.html
X-DocPath[cs]=http://cs.wikibooks.org/wiki/Kdenlive
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
#NoDisplay=true
