[Desktop Entry]
Name=Pacman Log Viewer
Comment=Inspect pacman log
Exec=plv
Terminal=false
Type=Application
Icon=plv
Categories=Application;Qt;System;
StartupNotify=true
