[Desktop Entry]
Type=Application
Name=qTox
Comment=Qt 5 based Tox instant messenger for secure communication
TryExec=qtox
Exec=env QT_STYLE_OVERRIDE=Adwaita qtox %u
Icon=qtox
Categories=Network;InstantMessaging;Chat;Telephony;VideoConference;
Terminal=false
MimeType=x-scheme-handler/tox;application/x-tox;
