[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Icon=ranger
Terminal=false
#Exec=termite -e ranger
Exec=urxvt -e ranger
#Exec=xfce4-terminal -x ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
