[Desktop Entry]
Name=scrcpy
Comment=Android Remote Control
Exec=termite -e scrcpy
Icon=vysor
Type=Application
Terminal=false
Categories=Development;Emulator;
StartupWMClass=scrcpy
Keywords=Android;Emulator;
NoDisplay=false
