[Desktop Entry]
Name=Scribus
Type=Application
Icon=scribus
Comment=Page Layout and Publication
TryExec=scribus
Exec=scribus %f
Terminal=false
MimeType=application/vnd.scribus;
Categories=Qt;Graphics;Publishing;
StartupWMClass=scribus
StartupNotify=false
X-AppInstall-Package=scribus
X-AppInstall-Section=main
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.22
NoDisplay=true

[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
DocPath=scribus
