#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Whatsie
Comment=A simple & beautiful desktop client for WhatsApp Web.
Exec=/opt/whatsie/whatsie %U
Icon=whatsie
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=whatsie
Keywords=WhatsApp;Whats;
Categories=Network;InstantMessaging;
X-GNOME-UsesNotifications=true
NoDisplay=true
