[Desktop Entry]
Type=Application
Name=iTunes
MimeType=audio/x-m4r;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.m4r %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
