[Desktop Entry]
Type=Application
Name=iTunes
MimeType=audio/x-mpegurl;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.m3u8 %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
