[Desktop Entry]
Type=Application
Name=Program Files
MimeType=application/x-wine-extension-clr;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen Flash.ColorTableFile %f
NoDisplay=true
StartupNotify=true
Icon=CCAD_Program Files.0
