[Desktop Entry]
Type=Application
Name=iTunes
MimeType=audio/x-pn-audibleaudio;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.aax %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
