[Desktop Entry]
Type=Application
Name=iTunes
MimeType=audio/x-aifc;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.aifc %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
