[Desktop Entry]
Type=Application
Name=iTunes
MimeType=application/x-podcast;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.pcast %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
