[Desktop Entry]
Type=Application
Name=iTunes
MimeType=application/x-itunes-ite;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.ite %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
