[Desktop Entry]
Type=Application
Name=Macromedia Flash Player 8.0  r22
MimeType=video/x-flv;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen FlashVideo.FlashVideo %f
NoDisplay=true
StartupNotify=true
Icon=56F2_SAFlashPlayer.0
