[Desktop Entry]
Type=Application
Name=iTunes
MimeType=video/mp4;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.m4v %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
