[Desktop Entry]
Type=Application
Name=iTunes
MimeType=application/x-itunes-ipsw;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen iTunes.ipsw %f
NoDisplay=true
StartupNotify=true
Icon=E8B9_iTunes.0
