[Desktop Entry]
Type=Application
Name=Flash 8
MimeType=application/x-wine-extension-jsfl;
Exec=env WINEPREFIX="/home/bandithijo/.wine" wine start /ProgIDOpen Flash.JSCommandFile %f
NoDisplay=true
StartupNotify=true
Icon=9212_Flash.0
