[Desktop Entry]
Comment=Use WPS Spreadsheets to analyze manage data.
#Exec=/usr/bin/et %f
Exec=env GTK2_RC_FILES=/usr/share/themes/Adwaita/gtk-2.0/gtkrc /usr/bin/et %f
MimeType=application/wps-office.et;application/wps-office.ett;application/wps-office.xls;application/wps-office.xlt;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/wps-office.xlsx;application/wps-office.xltx;
Name=WPS Spreadsheets
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Spreadsheet;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office-etmain
InitialPreference=3
StartupWMClass=et
NoDisplay=false
