[Desktop Entry]
Name=Zeal
Comment=Simple API documentation browser
Exec=zeal %u
#Exec=env QT_STYLE_OVERRIDE=Adwaita zeal %u
#Exec=env QT_STYLE_OVERRIDE=NumixSolarizedLightGreen zeal %u
Icon=zeal
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/dash;x-scheme-handler/dash-plugin;
