[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bandithijo/Desktop/listofapp-arch]
row=2
col=2

[/home/bandithijo/Desktop/test.cpp]
row=5
col=2

[/home/bandithijo/Desktop/mobile_test.rb]
row=3
col=2

[/home/bandithijo/Desktop/danbo.blend]
row=5
col=1

[/home/bandithijo/Desktop/test.md]
row=0
col=3

[/home/bandithijo/Desktop/belajar-rails]
row=0
col=1

[/home/bandithijo/Desktop/udos.pl]
row=1
col=3

[/home/bandithijo/Desktop/belajar-ruby]
row=1
col=1

[/home/bandithijo/Desktop/Print]
row=3
col=1

[/home/bandithijo/Desktop/davinciresolve-deps]
row=0
col=2

[/home/bandithijo/Desktop/feedback.md]
row=1
col=2

[/home/bandithijo/Desktop/pacman-update.log]
row=4
col=2

[/home/bandithijo/Desktop/index Online Course Ruby]
row=2
col=1

[/home/bandithijo/Desktop/PT-Assessment-Client.jnlp]
row=4
col=1

[460a2098-2e08-49bc-a77d-a017b968bc8f]
row=0
col=0

[2F74D78E3731982F]
row=5
col=0

[c0ce0e1c-1056-4c61-90cb-43e33f238778]
row=4
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/bandithijo]
row=3
col=0

