[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bandithijo/Desktop/test.cpp]
row=0
col=2

[/home/bandithijo/Desktop/listofapp-arch]
row=3
col=1

[/home/bandithijo/Desktop/mobile_test.rb]
row=4
col=1

[/home/bandithijo/Desktop/danbo.blend]
row=0
col=1

[/home/bandithijo/Desktop/test.md]
row=1
col=2

[/home/bandithijo/Desktop/belajar-rails]
row=3
col=0

[/home/bandithijo/Desktop/udos.pl]
row=2
col=2

[/home/bandithijo/Desktop/belajar-ruby]
row=4
col=0

[/home/bandithijo/Desktop/Print]
row=5
col=0

[/home/bandithijo/Desktop/davinciresolve-deps]
row=1
col=1

[/home/bandithijo/Desktop/pacman-update.log]
row=5
col=1

[/home/bandithijo/Desktop/index Online Course Ruby]
row=2
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/bandithijo]
row=1
col=0

