[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bandithijo/Desktop/listofapp-arch]
row=2
col=1

[/home/bandithijo/Desktop/test.cpp]
row=3
col=2

[/home/bandithijo/Desktop/passwd_cracker]
row=5
col=1

[/home/bandithijo/Desktop/danbo.blend]
row=0
col=1

[/home/bandithijo/Desktop/passw]
row=4
col=1

[/home/bandithijo/Desktop/test.md]
row=0
col=3

[/home/bandithijo/Desktop/udos.pl]
row=5
col=2

[/home/bandithijo/Desktop/passwd_cracker.cpp]
row=0
col=2

[/home/bandithijo/Desktop/Print]
row=4
col=0

[/home/bandithijo/Desktop/belajar-ruby]
row=3
col=0

[/home/bandithijo/Desktop/transforms.trf]
row=4
col=2

[/home/bandithijo/Desktop/davinciresolve-deps]
row=1
col=1

[/home/bandithijo/Desktop/bandithijo.tox]
row=5
col=0

[/home/bandithijo/Desktop/pacman-update.log]
row=3
col=1

[/home/bandithijo/Desktop/st2vim_themes.py]
row=2
col=2

[/home/bandithijo/Desktop/PT-Assessment-Client.jnlp]
row=1
col=2

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/bandithijo]
row=1
col=0

