[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bandithijo/Desktop/pacman-update.log]
row=0
col=6

[/home/bandithijo/Desktop/vim_cheatsheet]
row=4
col=3

[/home/bandithijo/Desktop/transforms.trf]
row=1
col=4

[/home/bandithijo/Desktop/helloworld.rb]
row=2
col=5

[/home/bandithijo/Desktop/systemd-analyze.html]
row=4
col=4

[/home/bandithijo/Desktop/freeman.rb]
row=1
col=2

[/home/bandithijo/Desktop/danbo.blend]
row=3
col=2

[/home/bandithijo/Desktop/episodes_controller.rb]
row=4
col=1

[/home/bandithijo/Desktop/passwd_cracker]
row=0
col=5

[/home/bandithijo/Desktop/belajar-javascprit]
row=3
col=0

[/home/bandithijo/Desktop/bandithijo.tox]
row=5
col=2

[/home/bandithijo/Desktop/passw]
row=2
col=1

[/home/bandithijo/Desktop/belajar-freecad]
row=5
col=3

[/home/bandithijo/Desktop/subscribe.rb]
row=0
col=1

[/home/bandithijo/Desktop/belajar-c++]
row=4
col=0

[/home/bandithijo/Desktop/st2vim_themes.py]
row=1
col=6

[/home/bandithijo/Desktop/index.html]
row=1
col=5

[/home/bandithijo/Desktop/listofapp-arch]
row=0
col=2

[/home/bandithijo/Desktop/TIKET CITILINK BPN-SBY - MUBAROK.pdf]
row=0
col=3

[/home/bandithijo/Desktop/test.cpp]
row=3
col=4

[/home/bandithijo/Desktop/passwd_cracker.cpp]
row=5
col=4

[/home/bandithijo/Desktop/test.html]
row=2
col=4

[/home/bandithijo/Desktop/belajar-git]
row=3
col=5

[/home/bandithijo/Desktop/subscribers_controller.rb]
row=3
col=1

[/home/bandithijo/Desktop/udos.pl]
row=0
col=4

[/home/bandithijo/Desktop/Tiket Pesawat - Syihabul Millah.pdf]
row=3
col=6

[/home/bandithijo/Desktop/HelloWorld.class]
row=3
col=3

[/home/bandithijo/Desktop/Tiket Pesawat 27-07-2017.pdf]
row=1
col=1

[/home/bandithijo/Desktop/Print]
row=5
col=0

[/home/bandithijo/Desktop/belajar_vim]
row=5
col=1

[/home/bandithijo/Desktop/davinciresolve-deps]
row=2
col=2

[/home/bandithijo/Desktop/chromium - How to save a webpage as MHT archive files in Google Chrome_ - Super User.mhtml]
row=4
col=2

[/home/bandithijo/Desktop/HelloWorld.java]
row=2
col=3

[/home/bandithijo/Desktop/PT-Assessment-Client.jnlp]
row=1
col=3

[/home/bandithijo/Desktop/belajar-ruby]
row=2
col=6

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/bandithijo]
row=2
col=0

